.main-userrequest {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Titillium Web", sans-serif;
  height: 100vh;
  position: relative;
}

.container-userrequest {
  /* position: relative; */
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
}

.heading-userrequest {
  border-bottom: 2px solid black;
  text-align: left;
  margin: 10px;
}

.stepper-userrequest {
  width: 80%;
}

/* from upload files component */
.uploadfiles-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.uploadfile-container {
  border: 1px solid #c1c1c1;
  padding: 10px;
  position: relative;
}
/* .uploadfile-container-gallery {
  margin: 10px;
} */
